h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns:1fr 6fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    background-color: #f6faff;
}

.svg {
    width: 20px;
    height: auto;
}



/* SIDEBAR */

.sidebar {
    padding: 15px 26px;
}

.sidebar h1 {
    margin-bottom: 60px;
    cursor: pointer;
    padding-left: 16px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.nav-element {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 6px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.nav-element:hover {
    background-color: #f1f6ff;
}

.nav-element h3 {
    flex: 1;
    font-weight: 600;
    font-size: 1.1rem;
}




/* HEADER */


#profile-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

.notify-container,
.night-container {
    border: 3px solid #e6ebf4;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    border-radius: 50%;
    background-color: #f1f7fe;
    cursor: pointer;
}


.header {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 16px 60px 16px 60px;
}

.header form {
    flex: 1;
    display: flex;
    align-items: start;
    position: relative;
    height: fit-content;
}
.header input {
    background: #f1f6ff;
    border: 0;

    height: 36px;
    padding: 5px 30px;
    border-radius: 12px;
}

.header input::placeholder {
    color: black;
    font-weight: 500;
}

.header #search-icon {
    position: absolute;
    width: 16px;
    height: auto;
    top: 10px;
    left: 8px;
}

.header .profile-panel {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 20px;
}



/* main */

.main {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr)); 
    align-content: start;
  
    column-gap: 20px;
    row-gap: 20px;
}

.book-card {
    background: white;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    height:max-content;
    border-left: 8px solid #f0b429;
    
}


#add-book svg {
    width: 48px;
    height: 48px;
}




.remove-btn {
    display:block;
    
}